    <table>
        <thead>
            <tr>
                <th width="20%">ID</th>
                <th width="35%">Translation</th>
                <th width="40%">Additional Information</th>
                <th width="5%">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr id="translate-create-container">
                <td><input type="text" id="translate-key" /></td>
                <td><textarea id="translate-message" class="span6"{% if isWriteable is sameas(false) %} readonly="readonly"{% endif %}></textarea></td>
                <td></td>
                <td><button type="button" id="translate-create" class="btn success">+</button></td>
            </tr>
            {% for id, message in messages %}
            <tr>
                <td>
                    <a class="jms-translation-anchor" id="{{ id }}" />
                    <abbr title="{{ id }}">{{ id|truncate(20) }}</abbr>
                </td>
                <td>
                    <textarea data-id="{{ id }}" class="span6"{% if isWriteable is sameas(false) %} readonly="readonly"{% endif %}>{{ message.localeString }}</textarea></td>
                <td>
                    {% if message.meaning is not empty %}
                        <h6>Meaning</h6>
                        <p>{{ message.meaning }}</p>
                    {% endif %}
                
                    {% if alternativeMessages[id] is defined %}
                        <h6>Alternative Translations</h6>
                        {% for locale, altMessage in alternativeMessages[id] %}
                        <p>
                            <strong>{{ locale }}:</strong> <pre>{{ altMessage.localeString }}</pre>
                        </p>
                        {% endfor %}
                    {% endif %}
                    
                    {% if message.sources|length > 0 %}
                        <h6>Sources</h6>
                        <ul>
                        {% for source in message.sources %}
                            <li>{{ source }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}

                    {% if message.desc is not empty 
                            and message.localeString != message.desc
                            and id != message.desc
                            and (alternativeMessages[id][sourceLanguage] is not defined
                                 or alternativeMessages[id][sourceLanguage].localeString != message.desc) %}
                        <h6>Description</h6>
                        <p>{{ message.desc }}</p>
                    {% endif %}
                </td>
                <td><button type="button" data-id="{{ id }}" class="btn danger translate-delete">X</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
