{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 well">
                <form role="form" class="form-horizontal" action="" method="post" name="contactform">
                    <fieldset>
                        <legend>{{ 'contact.name.form'|trans({}, 'default') }}</legend>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="txt_name" class="control-label">{{ 'contact.name.label'|trans({}, 'default') }}</label>
                            </div>
                            <div class="col-md-12">
                                <input class="form-control" name="txt_name" placeholder="{{ 'contact.name.placeholder'|trans({}, 'default') }}" type="text" value="" />
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="txt_email" class="control-label">{{ 'contact.email.label'|trans({}, 'default') }}</label>
                            </div>
                            <div class="col-md-12">
                                <input class="form-control" name="txt_email" placeholder="{{ 'contact.email.placeholder'|trans({}, 'default') }}" type="text" value="" />
                                <span class="text-danger"></span> 
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="txt_subject" class="control-label">{{ 'contact.subject.label'|trans({}, 'default') }}</label>
                            </div>
                            <div class="col-md-12">
                                <input class="form-control" name="txt_subject" placeholder="{{ 'contact.subject.placeholder'|trans({}, 'default') }}" type="text" value="" />
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="txt_msg" class="control-label">{{ 'contact.message.label'|trans({}, 'default') }}</label>
                            </div>
                            <div class="col-md-12">
                                <textarea class="form-control" name="txt_msg" rows="4" placeholder="{{ 'contact.message.placeholder'|trans({}, 'default') }}"></textarea>
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <input name="submit" type="submit" class="btn btn-primary" value="{{ 'contact.send.button'|trans({}, 'default') }}" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
